@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Noto+Sans+TC:wght@100..900&display=swap');
/* utf8一定要在行數1 */
/* import 一定要在第二行 */

/* 顏色設定(設定變數) */
:root {
    /* 灰階 */
    --black: #000000;
    --darkgrey: rgb(44, 44, 44);
    --lightgrey: rgb(88, 88, 88);
    --white: #ffffff;

    /* 主色 */
    --primary: #155569;

    /* 透明 */
    --alpha-w-40: rgba(255, 255, 255, .4);
    --alpha-w-60: rgba(255, 255, 255, .6);
    --alpha-w-80: rgba(255, 255, 255, .8);
    --alpha-b-20: rgba(0, 0, 0, .2);
    --alpha-b-40: rgba(0, 0, 0, 0.4);
    --alpha-b-60: rgba(0, 0, 0, 0.6);
    --alpha-lg-10: rgba(88, 88, 88, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加padding */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}


/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    color: #444;
    display: block;
    /* 預設inline行內元素改為block */
    text-decoration: none;
}

.overlay {
    position: fixed;
    /* 固定位置，覆蓋在背景圖上 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    /* 半透明的顏色覆蓋 */
    backdrop-filter: blur(1px);
    /* 應用模糊效果 */
    z-index: -1;
    /*確保在所有內容之下 */
}


/* ----------頁首區---------- */

#topbar {
    background-image: url(../../img/forum/teach/teach_head_pic.jpg);
    /* 圖片要壓縮 */
    position: relative;
    /* 設置為 relative 以便內部元素使用 absolute 定位 */
    width: 100%;
    /* 使 topbar 撐滿全寬 */
    height: 400px;
    /* 設置 topbar 高度 */
    padding: 0;
    /* 確保沒有額外的 padding */
    margin: 0;
    /* 確保沒有額外的 margin */
    background-size: cover;
    /* 確保背景圖覆蓋整個容器 */
    background-position: center;
    /* 將背景圖置中 */
    background-repeat: no-repeat;
    /* 防止背景圖重複 */
    transition: height 0.3s ease;
    z-index: 1000;
}

#topbar .forum_head section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#topbar .forum_head {
    background-image: linear-gradient(5deg, rgba(225, 225, 225, 0.065),
            rgba(225, 225, 225, 0.8));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15),
        inset -2px -2px rgba(0, 0, 0, 0.027);
    position: fixed;
    width: 90px;
    height: 90px;
    padding: 14px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 确保内容在容器中心 */
    border-radius: 99px;
    transition: width 1s ease, border-radius 1s ease, justify-content 1s ease;
    /* 同步过渡 */
    z-index: 999;
}


#topbar .forum_head:hover {
    width: 35%;
    /* 滑鼠觸碰時擴展 */
    border-radius: 99px;
    /* 變長條 */
    justify-content: space-between;
    /* 水平排列内容 */
}

#topbar .forum_head .logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

#topbar .forum_head .logo a {
    width: 60px;
}

#topbar .forum_head .collapsed {
    width: 90px;
    border-radius: 99px;
    overflow: hidden;
}

#topbar .forum_head .menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    white-space: nowrap;
    /* 阻止文字换行 */
    overflow: hidden;
    /* 隐藏溢出的内容 */
    visibility: hidden;
    opacity: 0;
    transition: opacity 4s ease, visibility 0s 0.3s;
    /* 菜單顯隱 */
}


#topbar .forum_head .collapsed .menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s 0.2s;
    justify-content: space-around;
    padding: 0 50px;
}


#topbar .forum_head:hover .menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0s 0s;
    justify-content: space-around;
    /* 确保项目在可用空间内对齐 */
}

/* .forum_head .menu a {
    display: block;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    border-bottom: solid 1px transparent;
    /* 先預留底線的空間 以免造成推移 故先設定成透明 
} */

.forum_head .menu a {
    display: block;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.forum_head .menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: black;
    transition: width 1s ease-in-out;
}

.forum_head .menu a:hover::after {
    width: 100%;
}


.forum_head.collapsed .menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s 0.2s;
}


.forum_head:hover .menu {
    opacity: 1;
    visibility: visible;
    transition: opacity 4s ease, visibility 0s 0.2s;
}

/* login按鈕位置 */
#topbar .account_login {
    position: absolute;
    top: 40px;
    right: 50px;
}

#topbar .account_login button {
    background-image: linear-gradient(5deg, rgba(225, 225, 225, 0.065),
            rgba(225, 225, 225, 0.8));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15),
        inset -2px -2px rgba(0, 0, 0, 0.027);
    backdrop-filter: blur(10px);
    border: none;
    padding: 10px 20px;
    border-radius: 99px;
    opacity: 0.7;
    /* 如果需要更改按鈕的透明度，可以使用 opacity */
}

#topbar .account_login a {
    color: #000000;
    padding: 10px 10px;
    text-align: center;
}

#topbar .forum_slogan {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    /* 設置為 absolute 以便於在 topbar 中定位 */
    bottom: 0;
    /* 將其定位到 topbar 底部 */
    left: 50%;
    transform: translateX(-50%);
    /* 水平居中 */
    padding: 20px;
}

#topbar .forum_slogan h1 {
    color: #ffffff;
}

#topbar .forum_slogan p {
    color: #ffffff;
}

/* 內文區 */
/* 設定整個佈局 */
/* 頁面樣式 */
main {
    display: flex;
    justify-content: center;
    background-image: url(./../img/forum/teach/teach-bg-pic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 大區標籤 */
.teach_content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    max-width: 1240px;
    padding: 20px;
    flex-direction: column;
    align-self: flex-start;
    height: 900px;
}

/* 上區標籤 */
/* 教學類別標籤 */

.top-section {
    margin-top: 80px;
    padding: 10px 0;
}


.top-section .categories {
    color: #2c2c2c;
    width: 100%;
    display: flex;

}

.top-section .categories div {
    padding: 1px 15px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;
    letter-spacing: .2rem;
    margin-right: 20px;
}

.top-section .categories div.active {
    pointer-events: none;
    border: 1px solid #2c2c2c;
    /* 当前选中项的边框 */
    background-color: transparent;
    /* 当前选中项的背景色 */
    color: #2c2c2c;
    letter-spacing: .2rem;
}

.top-section .categories div:hover {
    border: 1px solid #2c2c2c;
    /* background-color: transparent; */
}

/* 下區圖片區 */
html {
    scroll-snap-type: y mandatory;
}

.teach_atc {
    padding: 20px 0;
    display: flex;
    width: 100%;
    max-width: 1240px;
    align-items: flex-start;
    position: relative;


}



.teach_atc .teach_picBase,
.teach_atc .teach_picBartend,
.teach_atc .teach_picTeach {
    width: 85%;
    height: 700px;
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
    display: none;
}

.teach_atc .teach_picBase.active,
.teach_atc .teach_picBartend.active,
.teach_atc .teach_picTeach.active {
    display: block;
    /* 顯示當前選中的區域 */
}

.teach_atc .section {
    position: absolute;
    /* 使圖片可以重疊 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* 預設隱藏 */
    visibility: hidden;
    /* 預設隱藏 */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    background-size: cover;
    /* 背景圖片自動調整大小以覆蓋整個區域 */
    background-position: center;
    /* 背景圖片居中 */
}

.teach_atc .section.active {
    opacity: 1;
    visibility: visible;
    animation: zoom-scroll 0.3s ease-in-out;
}

/* 為不同的 section 設置背景圖片 */
#pic1-1 {
    background-image: url('./../img/forum/teach/base-brandy.png');
}

#pic1-2 {
    background-image: url('./../img/forum/teach/base-gin.png');
    height: 675px;
}

#pic1-3 {
    background-image: url('./../img/forum/teach/base-tequila.png');
}

#pic1-4 {
    background-image: url('./../img/forum/teach/base-rum.png');
    height: 675px;
}

#pic1-5 {
    background-image: url('./../img/forum/teach/base-vodka.png');
    height: 660px;
}

#pic1-6 {
    background-image: url('./../img/forum/teach/base-whisky.png');
    height: 640px;
}

/* 為經典調酒 sections 設置背景圖片 */
#pic2-1 {
    background-image: url('./../img/forum/teach/sidecar.png');
    height: 640px;
}

#pic2-2 {
    background-image: url('./../img/forum/teach/ginfizz.png');
    height: 663px;
}

#pic2-3 {
    background-image: url('./../img/forum/teach/margarita.png');
    height: 665px;
}

#pic2-4 {
    background-image: url('./../img/forum/teach/lonisland.png');
    height: 665px;
}

#pic2-5 {
    background-image: url('./../img/forum/teach/cosmopo.png');
    height: 660px;
}

#pic2-6 {
    background-image: url('./../img/forum/teach/oldfashion.png');
    height: 675px;
}

/* 調酒教學 sections */

.teach_atc .text img {
    width: 100%;
    height: 100%;
    /* 確保圖片長寬一樣 */
    object-fit: cover;
    object-position: center;
    /* 確保圖片置中 */
}

@keyframes zoom-scroll {
    0% {
        filter: blur(5rem);
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
    }

    50% {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.teach_atc .site-headerBase,
.teach_atc .site-headerBartend,
.teach_atc .site-headerTeach {
    max-width: 160px;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 150px;
    display: none;
    visibility: hidden;
}



.teach_atc .site-headerBase.active,
.teach_atc .site-headerBartend.active,
.teach_atc .site-headerTeach.active {
    display: block;
    /* 或者使用 flex 根據需求 */
    visibility: visible;
    /* 確保元素可見 */
}

.teach_atc .indicator {
    list-style: none;
    padding: 0;
    margin: 0;
}

.teach_atc .indicator li {
    margin: 10px 0;
}


.teach_atc .indicator a.active {
    font-weight: bold;
    color: #155569;
    /* 可以根據需求更改顏色 */
}

/* 指示器的基本樣式 */
.teach_atc .indicator a {
    text-decoration: none;
    color: #2c2c2c;
    font-weight: bold;
}

@media (max-width:1200px) {
    .teach_atc {
        width: 100%;
    }
}

@media (max-width:1200px) {

    .teach_atc .site-headerBase,
    .teach_atc .site-headerBartend,
    .teach_atc .site-headerTeach,
    .teach_atc .site-headerBase.active,
    .teach_atc .site-headerBartend.active,
    .teach_atc .site-headerTeach.active {
        display: none;
        opacity: 0;
    }
}

@media (max-width:1200px) {
    #pic1-1,
    #pic1-2,
    #pic1-3,
    #pic1-4,

    #pic2-1,
    #pic2-2,
    #pic2-3,
    #pic2-4,
    #pic2-5,
    #pic2-6 {
        width: 100%;
        height: 80%;
    }
}

@media (max-width:1200px) {

    #pic1-5,
    #pic1-6 {
        width: 100%;
        height: 75%;
    }
}
