@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Noto+Sans+TC:wght@100..900&display=swap');
/* utf8一定要在行數1 */
/* import 一定要在第二行 */

/* 顏色設定(設定變數) */
:root {
    /* 灰階 */
    --black: #000000;
    --darkgrey: rgb(44, 44, 44);
    --lightgrey: rgb(88, 88, 88);
    --white: #ffffff;

    /* 主色 */
    --primary: #155569;

    /* 透明 */
    --alpha-w-40: rgba(255, 255, 255, .4);
    --alpha-w-60: rgba(255, 255, 255, .6);
    --alpha-w-80: rgba(255, 255, 255, .8);
    --alpha-b-20: rgba(0, 0, 0, .2);
    --alpha-b-40: rgba(0, 0, 0, 0.4);
    --alpha-b-60: rgba(0, 0, 0, 0.6);
    --alpha-lg-10: rgba(88, 88, 88, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加padding */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    color: #444;
    display: block;
    /* 預設inline行內元素改為block */
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.forum-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    align-self: flex-start;
    margin: 2% 0 0 4%;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.4rem;
    color: var(--primary);
    font-weight: 600;
    letter-spacing: .2rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#level,
#new,
#other {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.844);
    border-radius: 20px;
    margin: 2rem 0 0 0;

}

.wrap {
    width: 80%;
    margin: 3% 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

#other{
    margin-bottom: 4rem;
}