@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin');
/* utf8一定要在行數1 */
/* import 一定要在第二行 */
/* 重置所有標籤的樣式 */

/* 顏色設定(設定變數) */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加padding */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    color: #444;
    display: block;
    /* 預設inline行內元素改為block */
    text-decoration: none;
}

/* 玻璃擬態 */
#topbar {
    background-image: linear-gradient(5deg, rgba(225, 225, 225, 0.065),
            rgba(225, 225, 225, 0.8));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15),
        inset -2px -2px rgba(0, 0, 0, 0.027);
    backdrop-filter: blur(10px);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* vh視窗相對高度 */
}

/* topbar */
#topbar {
    position: fixed;
    width: 50%;
    height: 90px;
    padding: 14px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 99px;
    transition: width 1s ease;
    z-index: 999;
}

#topbar .logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

#topbar .logo a {
    width: 60px;
}

#topbar.collapsed {
    width: 90px;
    border-radius: 99px;
    overflow: hidden;
}

#topbar:hover {
    width: 50%;
}

#topbar .menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    transition: opacity 4s ease, visibility 0s 0.3s;
    visibility: visible;
    opacity: 1;
}


#topbar.collapsed .menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s 0.2s;
}


#topbar:hover .menu {
    opacity: 1;
    visibility: visible;
    transition: opacity 4s ease, visibility 0s 0.2s;
}

.menu a {
    color: #000000;
    padding: 10px 20px;
    text-align: center;
}

/* login按鈕位置 */
.account_login {
    position: fixed;
    top: 40px;
    right: 50px;
}

.account_login button {
    background-image: linear-gradient(5deg, rgba(225, 225, 225, 0.065),
            rgba(225, 225, 225, 0.8));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15),
        inset -2px -2px rgba(0, 0, 0, 0.027);
    backdrop-filter: blur(10px); 
    border: none;
    padding: 10px 20px;
    border-radius: 99px;
}

.account_login a{
    color: #000000;
    padding: 10px 10px;
    text-align: center;
}