@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Noto+Sans+TC:wght@100..900&display=swap');
/* utf8一定要在行數1 */
/* import 一定要在第二行 */

/* 顏色設定(設定變數) */
:root {
    /* 灰階 */
    --black: #000000;
    --darkgrey: rgb(44, 44, 44);
    --lightgrey: rgb(88, 88, 88);
    --white: #ffffff;

    /* 主色 */
    --primary: #155569;
    --secondary: #FFA800;
    --secondary-hover: #e29909;

    /* 透明 */
    --alpha-w-40: rgba(255, 255, 255, .4);
    --alpha-w-60: rgba(255, 255, 255, .6);
    --alpha-w-80: rgba(255, 255, 255, .8);
    --alpha-b-20: rgba(0, 0, 0, .2);
    --alpha-b-40: rgba(0, 0, 0, 0.4);
    --alpha-b-60: rgba(0, 0, 0, 0.6);
    --alpha-lg-10: rgba(88, 88, 88, 0.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加padding */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    color: #444;
    display: block;
    text-decoration: none;
}


/* 內文區 */
/* 頁面樣式 */
main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.forum-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.news-container {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

/* 左側 */
.left-section {
    flex: 1;
    width: 20%;
    max-width: 220px;
    padding: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.categories .category.active,
.tags .tag.active {
    background-color: #155569;
    color: #ffffff;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.categories .category {
    padding: 5px 15px 5px 18px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #155569;
    transition: all .2s ease-in-out;
}

.categories .category:hover {
    border: 1px solid #155569;
}

.tagTitle {
    margin: 0 10px;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.tags {
    border-top: solid 1px black;
}

.tags .tag {
    color: #000000;
    font-size: 12px;
    padding: 7.5px 0;
}

/* 右側 */
.right-section {
    border-radius: 10px;
    background-color: #ffffffc9;
    width: 100%;
    max-width: 900px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_content {
    display: none;
    padding: 30px;
}

.news_content.active {
    display: block;
}

.article {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    transition: .35s ease-in-out;
    cursor: pointer;
}

.article:hover {
    transform: scale(0.99);
}

.article .content {
    width: 100%;
    height: 100%;
}

.article:first-child {
    margin-top: 0;
}

.article .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.article .text {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.text .date {
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
}

.text h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.text p {
    letter-spacing: 2px;
    font-size: 1.2rem;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    /* 限制顯示的行數 */
}

.text .likes {
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.bookmark,
.view {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bookmark {
    width: 60px;
}

.bookmark .even,
.view .even {
    flex: 1;
}

.bookMark_img,
.view_img {
    width: 20px;
    height: 20px;
}

.bookMark_num,
.view_num {
    font-size: 1rem;
    text-align: center;
    line-height: normal;
}


.article .photo {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none;
}

#load-more {
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #155569;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    max-width: 830px;
    transition: .2s ease-in-out;
}

#load-more:hover {
    opacity: .8;
}



/* 內頁 */

.overlay,
.window {
    display: none;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.window {
    position: fixed;
    /* position: relative; */
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #F5F5F5;
    width: 800px;
    height: 95vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* 滾動條 */
    overflow-y: scroll;
}

/* 卷軸 */
.window::-webkit-scrollbar {
    width: 5px;
}

.window::-webkit-scrollbar-thumb {
    border-radius: 99px;
    border: 1px solid #dadada;
    background-color: #8a8a8a65;
}

.window::-webkit-scrollbar-track {
    border-radius: 99px;
    margin: 40px 0 5px 0;
}

.window::-webkit-scrollbar-button {
    display: none;
}

#closeBtn img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
    transition: .25s ease-in-out;
}

#closeBtn img:hover {
    opacity: 60%;
}

.wrap {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrap .event_img {
    width: 100%;
    height: 300px;
}

.wrap .event_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    letter-spacing: 1px;
}

.left_detail {
    width: 50%;
    pointer-events: none;
}

.left_detail h2 {
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
}

.left_detail small {
    margin-top: 20px;
    font-size: .9rem;
}

.left_detail p,
.right_detail p {
    margin-top: 10px;
    letter-spacing: .1rem;
    line-height: 2rem;
}

.right_detail {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.share {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
}

.share img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.right_detail .evt-info {
    height: auto;
    margin-top: 30px;
    line-height: 2;
    pointer-events: none;
}

.right_detail .evt-info .bold {
    letter-spacing: .1rem;
    font-weight: 900;
    font-size: 1rem;
    color: var(--primary);
}

.right_detail .link {
    margin-top: 50px;
    padding: 10px 50px;
    background-color: #155569;
    color: white;
    border-radius: 50px;
}

.show {
    display: block;
    opacity: 1;
}