@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin');
/* utf8一定要在行數1 */
/* import 一定要在第二行 */
/* 重置所有標籤的樣式 */

/* 顏色設定(設定變數) */
:root {
    /* 灰階 */
    --black: #000000;
    --darkgrey: rgb(44, 44, 44);
    --lightgrey: rgb(88, 88, 88);
    --white: #ffffff;

    /* 主色 */
    --primary: #155569;

    /* 透明 */
    --alpha-w-40: rgba(255, 255, 255, .4);
    --alpha-w-60: rgba(255, 255, 255, .6);
    --alpha-w-80: rgba(255, 255, 255, .8);
    --alpha-b-20: rgba(0, 0, 0, .2);
    --alpha-b-40: rgba(0, 0, 0, 0.4);
    --alpha-lg-10: rgba(88, 88, 88, 0.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加padding */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    color: #444;
    display: block;
    /* 預設inline行內元素改為block */
    text-decoration: none;
}

/* 玻璃擬態 */
#badge,
.points_history,
#history {
    background-image: linear-gradient(45deg, rgba(225, 225, 225, 0.4),
            rgba(225, 225, 225, 0.7));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15),
        inset -2px -2px rgba(0, 0, 0, 0.027);
    backdrop-filter: blur(10px);
}


/* 設置 body 背景圖 */
body {
    background-image: url(../img/member/member-bg.png);
    /* 背景圖 URL */
    background-size: cover;
    /*使背景圖覆蓋整個頁面*/
    /* background-position: center; 背景圖置中 */
    background-repeat: no-repeat;
    /* 防止背景圖重複 */
    background-attachment: fixed;
    /* 確保背景圖固定不隨內容滾動 */
    margin: 0;
    padding: 0;
    height: 100%;
    /* 確保 body 高度為視窗高度 */
    overflow-x: hidden;
    /* 防止水平滾動條 */
}


.overlay_bg {
    position: fixed;
    /* 固定位置，覆蓋在背景圖上 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    /* 半透明的顏色覆蓋 */
    backdrop-filter: blur(1px);
    /* 應用模糊效果 */
    z-index: -1;
    /*確保在所有內容之下 */
}

/* 內容區 */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: center;
    margin: 10vh 0;
    width: 100%;
}

/* 左側功能列 */
#function {
    display: flex;
    width: 20%;
    max-width: 160px;
    align-items: center;
    flex-direction: column;
}

#function img {
    width: 100%;
    min-width: 100px;
}

#grade {
    text-align: center;
    margin-bottom: 50px;
}

#function_list {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#function_list li {
    width: 90%;
    color: #155569;
}

#details {
    width: 80%;
    max-width: 900;
    margin-left: 80px;
}

#badge {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#badge img {
    width: 80%;
}

#points {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.points_history {
    width: 40%;
    min-width: 250px;
    height: 320px;
    max-height: 320px;
    /* 设置最大高度 */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    /* 滾動條 */
    overflow-y: scroll;
}

/* Chrome, Edge, and Safari */
.points_history::-webkit-scrollbar {
    width: 5px;
}

.points_history::-webkit-scrollbar-thumb {
    border-radius: 99px;
    /* border-color: ; */
    border: 1px solid #585858;
    background-color: #58585865;
}

.points_history::-webkit-scrollbar-track {
    border-radius: 99px;
    border: 1px solid #585858;
}

.points_history::-webkit-scrollbar-button {
    display: none;
}


.store_month {
    width: 100%;
    border-radius: 10px;
    background-color: #58585827;
    padding: 5px;
    transition: background-color 0.2s ease-in-out;
}


.record-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.record-header:hover {
    opacity: 70%;
}

.toggle-btn {
    font-weight: bold;
    font-size: 20px;
}

.record-content {
    /* display: none;
    max-height: 150px;
    /* 设置最大高度，控制内容区域大小 */
    /* overflow-y: auto;
    /* 在内容超出时显示滚动条 */
    /* padding: 0; */
    /* 移除内边距，防止裁切内容 */
    /* margin: 0;  */

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.record-content::-webkit-scrollbar-button {
    display: none;
}

.this {
    max-height: 200px;
    /* 设置展开后的最大高度 */
    display: block;
}

.record-date {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    /* 在每个条目间增加一些内边距以提升可读性 */
}


#history {
    margin-top: 20px;
    width: 100%;
    min-width: 250px;
    height: 320px;
    max-height: 320px;
    /* 设置最大高度 */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    /* 滾動條 */
    overflow-y: scroll;
}


/* Chrome, Edge, and Safari */
#history::-webkit-scrollbar {
    width: 5px;
}

#history::-webkit-scrollbar-thumb {
    border-radius: 99px;
    /* border-color: ; */
    border: 1px solid #585858;
    background-color: #58585865;
}

#history::-webkit-scrollbar-track {
    border-radius: 99px;
    border: 1px solid #585858;
}

#history::-webkit-scrollbar-button {
    display: none;
}