@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin');
/* utf8一定要在行數1 */
/* import 一定要在第二行 */
/* 重置所有標籤的樣式 */

/* 顏色設定(設定變數) */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加padding */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* color: #155569; */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    color: #444;
    display: block;
    /* 預設inline行內元素改為block */
    text-decoration: none;
}

/* 玻璃擬態 */
#topbar {
    background-image: linear-gradient(5deg, rgba(225, 225, 225, 0.065),
            rgba(225, 225, 225, 0.8));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15),
        inset -2px -2px rgba(0, 0, 0, 0.027);
    backdrop-filter: blur(10px);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* vh視窗相對高度 */
}

/* topbar */
#topbar {
    position: fixed;
    width: 50%;
    height: 90px;
    padding: 14px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 99px;
    transition: width 1s ease;
    z-index: 999;
}

#topbar .logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

#topbar .logo a {
    width: 60px;
}

#topbar.collapsed {
    width: 90px;
    border-radius: 99px;
    overflow: hidden;
}

#topbar:hover {
    width: 50%;
}

#topbar .menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    transition: opacity 4s ease, visibility 0s 0.3s;
    visibility: visible;
    opacity: 1;
}


#topbar.collapsed .menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s 0.2s;
}


#topbar:hover .menu {
    opacity: 1;
    visibility: visible;
    transition: opacity 4s ease, visibility 0s 0.2s;
}

.menu a {
    color: #000000;
    padding: 10px 20px;
    text-align: center;
}

/* home區 */
.home .content {
    display: flex;
    /*變垂直排*/
    flex-direction: column;
    align-items: center;
}

#home h1 {
    font-family: Rumble, sans-serif;
    font-weight: bold;
    font-size: 20rem;
    letter-spacing: .3rem;
    color: rgba(225, 225, 225, 0.616);
    line-height: 20rem;
}

#home h2 {
    font-family: Rumble, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: rgba(225, 225, 225, 0.616);
}

#home {
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#home video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    /* 使視頻在內容之後 */
    transform: translate(-50%, -50%);
}

/* 論壇區 */
#forum {
    display: flex;
    /* position 專門給absolute的定位依據 */
    position: relative;
    /* 為了讓裝飾花 超過contact區 會直接被隱藏 */
    overflow: hidden;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    /* 固定在背景 */
    background-size: cover;
    /* 定住左上方 短邊維持 長邊自動剪裁 不會重複拼貼 */
    background-position: center, center;
    /* 將背景x y軸致中 */
    background-repeat: no-repeat;
    /* 重複保證不會重複拼貼 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

#forum .main{
    background-image: url(../img/forum_bg.PNG);
    height: 90vh;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
    /* 固定在背景 */
    background-size: cover;
    /* 定住左上方 短邊維持 長邊自動剪裁 不會重複拼貼 */
    background-position: center, center;
    /* 將背景x y軸致中 */
    background-repeat: no-repeat;
    /* 重複保證不會重複拼貼 */
    position: absolute;
}


#forum .content {
    z-index: 2;
}

.left1-item {
    width: 300px;
    height: 250px;
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.container {
    z-index: 3;
    display: flex;
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
}

.column {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 220px;
    height: 230px;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    user-select: none;
}

.column-left {
    animation: scrollUp 10s linear infinite;
}

.column-right {
    animation: scrollDown 10s linear infinite;
}

.column:hover {
    animation-play-state: paused;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}