@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Noto+Sans+TC:wght@100..900&display=swap');
/* utf8一定要在行數1 */
/* import 一定要在第二行 */

/* 顏色設定(設定變數) */
:root {
    /* 灰階 */
    --black: #000000;
    --darkgrey: rgb(44, 44, 44);
    --lightgrey: rgb(88, 88, 88);
    --white: #ffffff;

    /* 主色 */
    --primary: #155569;
    --secondary: #FFA800;
    --secondary-hover: #e29909;

    /* 透明 */
    --alpha-w-40: rgba(255, 255, 255, .4);
    --alpha-w-60: rgba(255, 255, 255, .6);
    --alpha-w-80: rgba(255, 255, 255, .8);
    --alpha-b-20: rgba(0, 0, 0, .2);
    --alpha-b-40: rgba(0, 0, 0, 0.4);
    --alpha-b-60: rgba(0, 0, 0, 0.6);
    --alpha-lg-10: rgba(88, 88, 88, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加padding */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    color: #444;
    display: block;
    /* 預設inline行內元素改為block */
    text-decoration: none;
}
/* 內頁 */

.overlay,
.window {
    display: none;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.window {
    position: fixed;
    /* position: relative; */
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #F5F5F5;
    width: 800px;
    height: 95vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* 滾動條 */
    overflow-y: auto;
}

#closeBtn img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
    transition: .25s ease-in-out;
}

#closeBtn img:hover {
    opacity: 60%;
}

.wrap {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrap .event_img {
    width: 100%;
    height: 300px;
}

.wrap .event_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left_detail {
    width: 50%;
}

.left_detail h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.left_detail small {
    margin-top: 5px;
}

.left_detail p,
.right_detail p {
    margin-top: 5px;
    letter-spacing: .2rem;
    line-height: 2rem;
}

.right_detail {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.share {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
}

.share img {
    width: 30px;
    height: 30px;
}

.right_detail p {
    margin-top: 30px;
}

.right_detail .link {
    margin-top: 50px;
    padding: 10px 50px;
    background-color: #155569;
    color: white;
    border-radius: 50px;
}

.show {
    display: block;
    opacity: 1;
}