/* footer區 */
footer {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}

#frame {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#nav {
    width: 60%;
    min-width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#copyright {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#copyright small {
    font-size: .8rem;
    font-weight: 450;
    color: #155569;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    pointer-events: none;
}

#info {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 60%;
    min-width: 260px;
    font-size: .95rem;
    margin-right: 20px;
}

#info a {
    color: #155569;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 1px;
    font-weight: 450;
}

#social {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 40%;
    max-width: 180px;
}

footer ul {
    gap: 5%;
}

#info a {
    transition: 0.2s ease-in-out;
}

#social a {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transition: 0.35s ease-in-out;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
}

#info a:hover {
    opacity: 60%;
}

#social a:hover {
    opacity: 60%;
}

#x {
    background-image: url(../img/footer/Icon-x.svg);
}

#ig {
    background-image: url(../img/footer/Icon-ig.svg);
}

#yt {
    background-image: url(../img/footer/Icon-yt.svg);
}

#in {
    background-image: url(../img/footer/Icon-in.svg);
}