.index-4-feedBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: var(--alpha-b-40);
    margin-bottom: 50px;
    overflow: hidden; /* 隱藏超出部分 */
}

.marquee-container {
    width: 100%;
    overflow: hidden; /* 確保超出畫面的部分被隱藏 */
    white-space: nowrap; /* 保持內容在一行 */
}

.marquee-content {
    display: inline-block;
    color: var(--alpha-w-80);
    font-family: "Mallanna", sans-serif;
    letter-spacing: 1px;
    animation: marquee 60s linear infinite; /* 60秒滾動完畢 */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.feedback-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 135px;
    overflow: hidden; /* 確保卡片在邊界外的內容不顯示 */
    position: relative;
}

.feedback-cards {
    display: flex;
    transition: transform 3s ease;
    will-change: transform; /* 提高動畫性能 */
}

.feedback-card {
    margin-right: 20px;
    width: 300px;
}
